/* reglas
selectores
declaraciones
propiedades
valores
*/

/* 
-selector de etiqueta: header section article nav
-selector descendente:  (un elemento hijo de otro)
body header div nav ol li a{
}
-selector de clase: Se hace con un  .
class
.portafolio {  
}
- selector de id (único)
#portafolio{} 
*/


/*
Uso de Letras cuando se instalan en el sistema
@font-face {
  font-family: 'roboto';
  src: url('fonts/roboto-regular.ttf')
}
body {
 font-family: roboto;
}
*/

/* gris oscuro = #1d252c:
gris claro = #626262;
background gris = #1b2127; 
celeste =  #026fff;
*/
body{
    font-family: 'Source Sans Pro', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /* font-style: italic; */
}
h1{
    color: white;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -0.2px;
    /* text-transform: uppercase; */
    /* text-decoration: dashed; */
}
h1 strong{
    color: #026fff;
}
.header{
    background-color: #1d252c;
}
.header a{
    color: white;
    text-decoration: none;
}
.hero{
    height: 300px;
    background-size: 500px 300px;
    background-image: url(../img/hero.jpg);
    background-color: #1b2127;
    background-repeat: no-repeat;
    background-position-x: right; 
}
.project{
    border: 1px solid  grey;
    border-radius: 20px;
}
.project-details{
    width: 500px;
}
.project-imageContainer{
    width: 500px;
}